{% extends 'base.html' %}
{% block fq %}
{% load static %}
<div class="page section-header text-center">
    <div class="page-title">
        <div class="wrapper"><h1 class="page-width">FAQ</h1></div>
      </div>
</div>
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <div class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Q: How can I order
              </div>
            </h5>
        </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body"> A: You can order easily using our online platform. When you find a product you need, you can add it to cart, login
                and go through the ordering process. After the order is ready, you will receive order summary to your email. Order
                summary will also be stored to your account.
            
                You can also easily make reorders afterwards by clicking the “reorder” button on any of your previously made orders.
                After clicking the “reorder” button the cart will open and you can change quantities or products.
        </div>
    </div>
    </div>
    <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <span class="btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Q: Why should I buy online?
              </span>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                Speeding up the process. By ordering online you will you will get prices faster and you will be able to go
                through order confirmation and payment process much faster. This could save days of your time.
            
                Traceability: You will have easy access to all of your previous orders any time you want.
            </div>
          </div>
    </div>
    <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <div class="btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Q: What information should I input when ordering?</div>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                our online ordering system will ask for all the important information you should submit. If you have a VAT
                number, please remember to submit it. This will make sure the shipment is not delayed because of the lack of VAT
                number</div>
          </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingfour">
          <h5 class="mb-0">
            <div class="btn-link" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                Q: What payment methods can I use?</div>
          </h5>
        </div>
        <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
          <div class="card-body">
            You can use all the major credit cards.
        </div>
        </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <div class="btn-link" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
            Q: What should I do if the payment is not accepted?</div>
      </h5>
    </div>
    <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
      <div class="card-body">
        Please try again in a little while. If the payment is still not accepted, please verify your account balance. If
    everything is as it should, but you still can't make the payment, please contact hytest@hytest.fi notify us about
    the problem. We can manage the order manually.
    </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingsix">
      <h5 class="mb-0">
        <div class="btn-link" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
            Q: How can I change delivery address?</div>
      </h5>
    </div>
    <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordion">
      <div class="card-body">
        Sign in to your account and go to “my account”. On “my account” you can change all your contact information.</div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingSeven">
      <h5 class="mb-0">
        <div class="btn-link" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
         Q: What are the delivery charges?</div>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
      <div class="card-body">
        Delivery charges are dependent on the shipment requirements. If the products on your order are due to special
        requirements (for example dry ice) extra fee will be added to the shipment charges. You can see the shipping fees on
        the checkout process before the payment is made.</div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingEight">
      <h5 class="mb-0">
        <div class="btn-link" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            Q: How can I get offer of bulk amounts?</div>
      </h5>
    </div>
    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
      <div class="card-body">
        When you are logged in and you add products to shopping cart, you have the ability to send offer request to us
    using the shopping cart. You just need to add the products and quantities you are interested in and click “offer
    request”. We will send you an offer. Please note that this feature should only be used for bulk quantity price
    requests.
    </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="headingNine">
      <h5 class="mb-0">
        <div class="btn-link" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
        Q: Can I pay with invoice?</div>
      </h5>
    </div>
    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
      <div class="card-body">
        If you have already established customer relationship with HyTest, you will be granted ability to pay using
    invoice. If you have ordered several times from HyTest but you don't see the invoice as a paying option on the
    checkout, please contact hytest@hytest.fi and we will check why the invoice is not activated on your account.</div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="heading10">
      <h5 class="mb-0">
        <div class="btn-link" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
        Q: Can I cancel my order?</div>
      </h5>
    </div>
    <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion">
      <div class="card-body">
        If you want to cancel your order, please do so as soon as possible. If we have already processed your order, you
    need to contact us and return the product. Please contact hytest@hytest.fi</div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="heading11">
      <h5 class="mb-0">
        <div class="btn-link" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11ree">
            Q: Do you have the product in stock?</div>
      </h5>
    </div>
    <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion">
      <div class="card-body">
        All the products which are shown on our site are available. Order lead time depends on the products and
        quantities.</div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="heading12">
      <h5 class="mb-0">
        <div class="btn-link" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
            Q: How do create an account?</div>
      </h5>
    </div>
    <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordion">
      <div class="card-body">
        Go to this page https://www.hytest.fi/login and click “create a new account”, then just fill in all the needed
    information and click “create”. After submitting the form, your account will be confirmed and you will be notified.
</div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="heading13">
      <h5 class="mb-0">
        <div class="btn-link" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
            Q: How can I retrieve my password?</div>
      </h5>
    </div>
    <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordion">
      <div class="card-body">
        You can retrieve your password by clicking “forgot password?”. Instruction on password retrieval will be send to
    your email.</div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="heading14">
      <h5 class="mb-0">
        <div class="btn-link" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
            How do I change my personal details or email address?</div>
      </h5>
    </div>
    <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#accordion">
      <div class="card-body">
        You can easily change all your information on your account. Go to login page
     and log in, then click “my account” and “edit”. Here you can change all
    your contact information.</div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="heading15">
      <h5 class="mb-0">
        <div class="btn-link" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
            Q: Shipping time?</div>
      </h5>
    </div>
    <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordion">
      <div class="card-body">
        Shipping time will be confirmed on the order confirmation document.</div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="heading16">
      <h5 class="mb-0">
        <div class="btn-link" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
            Can I track my order?</div>
      </h5>
    </div>
    <div id="collapse16" class="collapse" aria-labelledby="heading16" data-parent="#accordion">
      <div class="card-body">
        We will send you the tracking code of the shipment when the parcel has been sent.</div>
    </div>
</div>

      {% endblock fq %}  